.blog-content{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
}
.blog-top{
    text-align: center;
}
.blog-top-line{
    width: 30%;
    height: 2px;
    background-color: #FEC10E;
    margin: 50px auto;
    border-radius: 50%;
}
.blog-box{
    display: flex;
    margin-bottom: 5vh;
    width: 100%;
    justify-content: space-evenly;
}
.box{    
    width: 25%;
}
.box-img{
    width: 100%;
    height: 180px;
    border: 1px solid #FEC10E;
    border-radius: 2px;
    margin-bottom: 2vh;
}
.box-content h4, h6, p{
    margin-bottom: 1vh;
    text-align: justify;
}
.sub-blog{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5vh;

}
.sub-blog a{
    text-decoration: none;
    color: #FEC10E;
    text-transform: uppercase;
    font-weight: 600;
}
.sub-blog a:hover{
    color: #FEC10E;
}
.blog-top h4{
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 3vh;
    margin-top: 5vh;
}
.blog-top h2{
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
}
.box-content h4{
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
}
.box-content h6{
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
    color: #FEC10E;
}
.box-content p{
    font-weight: 100;
    font-size: 16px;
}