.contact-container{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 15vh auto;
}
.contact-left{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.cl-top{
    margin-bottom: 7vh;
}
.cl-top h4, .cl-top h1{
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.cl-top h4{
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 3vh;
}
.cl-top h1{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 3vh;
}
.cl-top-line{
    width: 20%;
    height: 2px;
    border-radius: 50%;
    background-color: #FEC10E;
}
.cl-bottom p{
    display: flex;
    align-items: center;
    margin-bottom: .5vh;
}
.cl-bottom p span svg{
    margin-right: .5vw;
}
.cl-bottom p, .cl-bottom p a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 2px;
    cursor: pointer;
}

.contact-right{
    display: flex;
    flex-direction: column;
    width: 35%;
}
.contact-right h3{
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
}
.contact-right form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact-right form input[type="text"], .contact-right form input[type="email"] {
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 2.5vh;
    background-color: #111129;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
}
.contact-right form textarea{
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 2.5vh;
    background-color: #111129;
    color: #fff;
    border: none;
    outline: none;
    width: 100%;
}
.contact-right form button{
    width: 25%;
    text-transform: capitalize;
    background-color: #FEC10E;
    color: #fff;
    border: 1px solid #FEC10E;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    font-size: 15px;
    font-weight: 400;
}
.contact-right form button:hover{
    background-color: transparent;
    color: #FEC10E;
    transition: all .3s ease;
}

/* Mobile Designs */
@media (max-width:915px) {
    .contact-container{
        flex-direction: column;
        justify-content: center;
        margin: 10vh auto;
    }
    .contact-left{
        width: 100%;
        margin-bottom: 50px;
    }
    .cl-top{
        margin-bottom: 0;
    }
    .cl-top h4{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .cl-top h1{
        font-size: 20px;
        margin-bottom: 30px;
    }
    .cl-top-line{
        width: 40%;
        margin-bottom: 30px;
    }
    .cl-bottom p{
        margin-bottom: 10px;
    }
    .cl-bottom p span svg{
        margin-right: 10px;
    }
    .cl-bottom p, .cl-bottom p a{
        font-size: 12px;
    }
    .contact-right{
        width: 100%;
    }
    .contact-right form input[type="button"]{
        width: 50%;
    }
}