.header{
    display: flex;
    width: 100%;
    padding: 50px 10px;
    background-color: #fff;
    color: #000;
    justify-content: space-between;
    align-items: center;
}

.left-side, .right-side{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.left-side a, .right-side a{
    color: #000;
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    
}
.left-side li:hover, .right-side li:hover{
    
    transition: .3s;
}
.left-side a:hover, .right-side a:hover{
    color: #FEC10E;
    transition: all .3s ease-out;
    border-bottom: 3px solid #ffbf00;
    padding-bottom: 3px;
}
#home-link-active{
    color: #ffbf00;
    font-weight: 400 !important;
    border-bottom: 3px solid #ffbf00;
    padding-bottom: 5px;
}
#home-link-active:hover{
    color: #000;
    transition: all .3s ease-in;
    font-weight: 400 !important;
    border-bottom: 3px solid #000;
    padding-bottom: 2px;
}
/* .head-line{
    border-radius: 50%; 
    width: 70%;
    height: 3px;
    margin: .5vh auto 0 auto;
    background-color: #FEC10E;
} */
.right-side li{
    margin-right: 4vw;
    width: fit-content;
}
.left-side li{
    text-align: left;
    margin-left: 4vw;
    width: fit-content;
}
.footer{
    background-color: #fff;
    color: #000;
}
.top-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.top-foot{
    color: #000;
    padding: 10vh 0;
    text-shadow: 4px 6px 5px #000;
}
.top-foot p{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 100;

}
.top-foot h3{
    font-size: 36px;
    font-weight: 500;
    text-transform: capitalize;
    
}
.sub-foot{
    margin-top: 3vh;
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-shadow: none;
}
.sub-foot p a{
    text-transform: lowercase;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 100;
}
.bottom-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 2px solid #000;
    width: 80%;
    margin: auto;
}
.foot-left, .foot-right{
    list-style: none;
    display: flex;
}
.foot-left a, .foot-right a{
    color: #000;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    
}
.foot-left a:hover, .foot-right a:hover{
    color: #FEC10E;
    transition: .3s;
}
.foot-left li{
    margin-right: 2vw;
}

/* Header Title */
.middle-header-title, .ham-menu-bar{
    display: none;
}
.middle-header-title a{
    text-decoration: none;
    color: #ffbf00;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 5px;
    text-shadow: .5px .5px 5px #a8810b;
}

/* Mobile Designs */
@media (max-width:915px) {
    .header{
        padding: 30px 30px;
    }
    .left-side, .right-side{
        display: none;
    }
    .middle-header-title, .ham-menu-bar{
        display: flex;
    }
    .ham-menu{
        cursor: pointer;
    }
}
