.header{
    display: flex;
    width: 100%;
    padding: 50px 10px;
    background-color: #fff;
    color: #000;
    justify-content: space-between;
    align-items: center;
}
.left-side, .right-side{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.left-side a, .right-side a{
    color: #000;
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
}
.left-side li a:hover, .right-side li a:hover{
    padding-bottom: 10px;
    color: #FEC10E;
    transition: all .3s ease-out;
}
#home-link-active{
    color: #ffbf00;
    font-weight: 400 !important;
    padding-bottom: 5px;
}
#home-link-active:hover{
    color: #000;
    transition: all .3s ease-in;
    font-weight: 400 !important;
}
.head-line{
    border-radius: 50%; 
    width: 70%;
    height: 3px;
    margin: .5vh auto 0 auto;
    background-color: #FEC10E;
}
.hover-line{
    border-radius: 50%; 
    width: 70%;
    height: 3px;
    margin: 0 auto;
    background-color: #FEC10E;
    display: none;
}
.right-side li{
    margin-right: 4vw;
    width: fit-content;
}
.left-side li{
    text-align: left;
    margin-left: 4vw;
    width: fit-content;
}
.footer{
    background-color: #fff;
    color: #000;
}
.top-foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}
.top-foot{
    color: #000;
    padding: 10vh 0;
    text-shadow: 4px 6px 5px #000;
}
.top-foot p{
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 100;

}
.top-foot h3{
    font-size: 36px;
    font-weight: 500;
    text-transform: capitalize;
    
}
.sub-foot{
    margin-top: 3vh;
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-shadow: none;
}
.sub-foot p a{
    text-transform: lowercase;
    font-size: 20px;
    text-decoration: none;
    color: #000;
    font-weight: 100;
}
.bottom-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-top: 2px solid #000;
    width: 80%;
    margin: auto;
}
.foot-left, .foot-right{
    list-style: none;
    display: flex;
}
.foot-left a, .foot-right a{
    color: #000;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    
}
.foot-left a:hover, .foot-right a:hover{
    color: #FEC10E;
    transition: .3s;
}
.foot-left li{
    margin-right: 2vw;
}

/* Header Title */
.header-title-logo a{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
    cursor: pointer;
}
 .nav{
    display: none;
}
 .mainMenu {
    display: flex;
    align-items: flex-start !important;
    list-style: none;
}
.mainMenu li{
    margin-left: 30px;
}
 .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
}
 .openMenu {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.mainMenu .closeMenu{
    font-size: 2rem;
    display: none;
    cursor: pointer;
}
.fa-bars{color: #000;}
.fa-times{
    color: #000;
    z-index: 2;
}

/* Mobile Designs */
@media (max-width:915px) {
    .header{
        padding: 30px 30px;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .left-side, .right-side{
        display: none;
    }
    /* Hamburger Menu */
     .mainMenu {
        height: 100vh;
        width: 60%;
        position: fixed;
        top: 0;
        right: 0;
        left: 1;
        z-index: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right .5s ease;
        background: radial-gradient(circle,#FEC10E,#a37a00);
        border-top-left-radius: 10rem;
        border-bottom-left-radius: 10rem;
        display: none;
    }
    .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .openMenu {
        display: block;
    }
    .head-line{
        width: 50%;
        height: 2px;
        background-color: #fff;
    }
    .hover-line{
        width: 50%;
        height: 2px;
        background-color: #000;
    }
    #home-link-active{
        color: #fff;
        font-weight: 400 !important;
        padding-bottom: 2px;
    }
    #home-link-active:hover{
        color: #000;
        transition: all .3s ease-in;
        font-weight: 400 !important;
    }
    
}
