.icons{
    display: flex;    
}
.icons li{
    list-style: none;
}
.icon{
    margin-left: .6vw;
}
.abt-icon{
    margin-right: 1vw;
}
.foot-icon{
   margin-left: 2vw;
}
.foot-icon img{
    width: 25px;
}
.icon img{
    width: 30px;
}
@media (max-width:915px) {
    .space-icons{
        display: flex;
        justify-content: space-evenly;
    }
    
}
