.icons{
    display: flex;    
}
.icons li{
    list-style: none;
}
.icon{
    margin-left: .6vw;
}
.icon:hover{
    border-bottom: 2px solid #D69F00;
    padding-bottom: 5px;    
    transform: translateY(-5px);
    transition: padding-bottom .3s ease, transform .5s ease;
}

.abt-icon{
    margin-right: 1vw;
}
.foot-icon{
   margin-left: 2vw;
}
.foot-icon img{
    width: 25px;
}
.icon img{
    width: 30px;
}
@media (max-width:915px) {
    .space-icons{
        display: flex;
        justify-content: space-evenly;
    }
    
}
